@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: black;}
ul, ol{list-style: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.title{font-family: 'Cafe24Ssurround';}
.title2{font-family: 'BMJUA';}
.title3{ font-family: 'Pretendard-Regular';}

.gradient{
    background-image : linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.8));
    width: 100%; height: 100%; position: absolute; bottom: 79px;
}
/* 상세정보 열기전 그라데이션 효과 */

.support{background-image: url('./../public/Images/Support/support-go.jpg'); background-size: cover; }
.full{background-image: url("./../public/Images/Support/full.jpg"); background-size: cover; background-position: center top; background-attachment: fixed;}
.info::after{
    content: "";
    position: absolute; border-bottom: 2px solid #DAC0A3;
    width: 520px; bottom: 0; left: -10px;
}
@media screen and (max-width: 1024px) {
    .info::after{
        width: 103%;
    }
}

.color{background-color: #102C57; color: #fff;}

html.fixed{width: 100%; height: 100%; overflow: hidden;}

#root, html, body{width: 100%; }

#swiper::before {
    content: url("../public/Images/Main/cloud1-1.png");
    position: absolute;
    left: 0;
    bottom: -7px;
    z-index: 99;
}
#swiper::after {
    content: url("../public/Images/Main/cloud2.png");
    position: absolute;
    right: 0;
    bottom: -7px;
    z-index: 99;
}
#review::before {
    content: url("../public/Images/Main/cloud1.png");
    position: absolute;
    bottom:-5px;
    left: 0;
}
#review::after {
    content: url("../public/Images/Main/cloud2.png");
    position: absolute;
    bottom: -5px;
    right: 0;
}
.content5bg {
    background: url("../public/Images/Main/bgg.png");
}