@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: black;}
ul, ol{list-style: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.title2{font-family: 'BMJUA';}
.title3{ font-family: 'Pretendard-Regular';}

.gradient{
    background-image : linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.8));
    width: 100%; height: 100%; position: absolute; bottom: 86px;
}
/* 상세정보 열기전 그라데이션 효과 */

.support{background-image: url('./../public/Images/Support/support-go.jpg'); background-size: cover;
}

@media screen and (max-width: 1024px){
    .support {
        height: 500px;
    }
    .gradient{bottom: 60px;}
}
@media screen and (max-width: 768px){
    .support {
        height: 300px;
    }
    .gradient{bottom: 60px;}
}
@media screen and (max-width: 350px){
    .support {
        height: 250px;
    }
}
.full{background-image: url("./../public/Images/Support/full.jpg"); background-size: cover; background-position: center top; background-attachment: fixed;}
.info::after{
    content: "";
    position: absolute;
    width: 520px; bottom: 0; left: -10px;
    height: 2px; background-color: #86bcd5;
}
@media screen and (max-width: 1024px) {
    .info::after{
        width: 103%;
    }
}
@media screen and (max-width: 350px) {
    .info::after{
        width: 103%;
        margin-left: 3%;
    }
}

.color{background-color: #102C57; color: #fff;}


html.fixed{width: 100%; height: 100%; overflow: hidden;}

#root, html, body{width: 100%; }


/* 여기서부터 Main 이지연 Zone */
@media screen and (min-width: 1024px) { /* pc 버전일 때 */

    .swiper-button-next:after, .swiper-button-prev:after {
        position: absolute;
        color: #fff;
    }
    .swiper-button-next:after {
        right: 500%;
    }
    .swiper-button-prev:after {
        left: 500%;
    }
    .swiper-pagination-bullet-active {
        --swiper-theme-color: rgba(255, 255, 255, 0.8);
        --swiper-pagination-bullet-width: 30px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-border-radius: 10px;
    }
    #swiper::before {
        content: url("../public/Images/Main/cloud1-1.png");
        position: absolute;
        left: 0;
        bottom: -7px;
        z-index: 9;
    } /* Content1Swiper의 왼쪽 구름 */
    #swiper::after {
        content: url("../public/Images/Main/cloud2.png");
        position: absolute;
        right: 0;
        bottom: -7px;
        z-index: 9;
    } /* Content1Swiper의 오른쪽 구름 */
    #review::before {
        content: url("../public/Images/Main/cloud1.png");
        position: absolute;
        bottom:-5px;
        left: 0;
        z-index: 9;
    } /* Content3Review의 왼쪽 구름 */
    #review::after {
        content: url("../public/Images/Main/cloud2.png");
        position: absolute;
        bottom: -5px;
        right: 0;
        z-index: 9;
    } /* Content3Review의 오른쪽 구름 */
    .content3bg {
        background: url("../public/Images/Main/skybluepc.png");
    } /* Content3Review의 배경 */
    .content3bgdark {
        background: url("../public/Images/Main/tttt.png");
    } /* Content3Review darkmode의 배경 */
    .content5bg {
        background: url("../public/Images/Main/bgg.png");
        /* background-size: cover; */
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { /* tablet 버전일 때 */
    .content3bg {        
        background: url("../public/Images/Main/skybluetablet.png");
        background-size: cover;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        position: absolute;
        color: #fff;
    }
    .swiper-button-next:after {
        right: 200%;
    }
    .swiper-button-prev:after {
        left: 200%;
    }
    .swiper-pagination-bullet-active {
        --swiper-theme-color: rgba(255, 255, 255, 0.8);
        --swiper-pagination-bullet-width: 30px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-border-radius: 10px;
    }
    .content5bg {
        background: url("../public/Images/Main/bggtablet.png");
        background-size: cover;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) { /* mobile 버전일 때 */
    .content3bg {
        background: url("../public/Images/Main/skybluemobile.png");
        background-size: cover;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        visibility: hidden;
    }
    .swiper-pagination-bullet-active {
        --swiper-theme-color: rgba(255, 255, 255, 0.8);
        --swiper-pagination-bullet-width: 30px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-border-radius: 10px;
    }
    .content5bg {
        background: url("../public/Images/Main/bggmobile.png");
        background-size: cover;
    }
}
@media screen and (max-width: 479px) {
    .content3bg {
        background: url("../public/Images/Main/skybluemobile.png");
        background-size: cover;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        visibility: hidden;
    }
    .swiper-pagination-bullet-active {
        --swiper-theme-color: rgba(255, 255, 255, 0.8);
        --swiper-pagination-bullet-width: 30px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-border-radius: 10px;
    }
    .content5bg {
        background: url("../public/Images/Main/bggmobile.png");
        background-size: cover;
    }
}
/* 여기까지 Main 이지연 공간 */